* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

h1,
h2,
p,
li,
button {
    animation: fadeInDown 1s ease-in-out;
}

.dev-spaceing {
    width: 100%;
    height: 300px;
    background-color: #fff;
}