.industrysolutions-sec {
    padding: 120px 12px 0;
}

.industrysolutions-sec .card {
    box-shadow: none;
}

.industrysolutions-sec .card.dark {
    background-color: #F3F3F3;
    box-shadow: 0px 4px 14px 0px #00000040;
}

@media (max-width: 991px) {
    .industrysolutions-sec button {
        width: 190px;
        padding: 6px;
    }
}