.ourproductrange-sec {
    padding: 120px 12px 50px;
}

.ourproductrange-sec button {
    width: 206px;
}

.ourproductrange-sec .card {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
}

.ourproductrange-sec .card.dark {
    background-color: #F3F3F3;
    box-shadow: 0px 4px 14px 0px #00000040;
}

.ourproductrange-sec .card p {
    width: 100%;
    text-align: start;
}